td-hm_hrnet-w48_8xb32-210e_coco-256x192-0e67c616_20220913.pth
td-hm_hrnet-w48_8xb32-210e_coco-256x192.py
test2.py
video/Kamera1.dav
video/Kamera2.dav
video/Kamera3.dav
video/Kamera4.dav
video/Nowy Dokument tekstowy.txt
out_video.avi
test.py
ResultsHrnet
yolo11n-pose.pt
yolo11test.py
yolo11x-pose.pt
yolov8n.pt
yolo8test.ipynb
